body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: 0;
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

* {
  padding: 0;
  margin: 0;
}

.todo {
  height: 100vh;
}

.todo_title {
  height:60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.todo_title * {
  border: 2px solid black;
  background-color: white;
}

.todo_title input {
  height: 50%;
  width: 350px;
  border-right: none;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 10px 0 0 10px;
}
.todo_title button {
  height: 57%;
  width: 36px;
  border-left: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.todo_block {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.todo_block div {
  height: 36px;
  width: 400px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 10px;
  font-size: 25px;
}